.header{
    background-color: #fff;
    height: 45px;
  }

.Navbar__Items{
    align-items: center;
}

.nav-link{
    font-weight: bolder; 
    color: white; 
    margin-left: 30px; 
    margin-right: 30px;
}
